// List of variables
$primary-color: #fffffa;
$color-secondary: #433a3f;
$color-white: #fff;

$text-color: $color-secondary;

// $paragraph: 1.6rem;
// $paragraph2: 4rem;
// $paragraph3" 2/1.6rem;
// $sub-heading: 3.2rem medium
// $sub-heading(footer): 3.2/2.4rem bold - black(for footer message)
// $big-heading: 15rem black
