@use "../abstracts/" as *;

#rightTextSlide .word {
  transform: translateX(1000px);
  transition: all 0.5s;
}

.leftTextSlide .word {
  transform: translateX(-1000px);
  transition: all 0.5s;
}

.left-text {
  transform: translateY(1000px);
  transition: all 0.5s;
}

.page1 {
  padding-top: 18rem;

  &__container {
    @include grid-1;
    grid-template-rows: 1fr 1fr;
  }

  &__left {
    flex: 0 0 30%;
    overflow: hidden;

    h1 {
      text-align: right;
      position: relative;
      top: 4.7rem;
    }
  }

  &__right {
    overflow: hidden;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    flex: 0 0 40%;
    align-self: flex-start;
    position: relative;
    top: -16rem;
    span {
      font-weight: 700;
      font-family: "Roboto", sans-serif;
    }
  }
}

.photos {
  &__container {
    border-left: 2px solid $primary-color;
    padding-left: 2rem;
    height: 70rem;
    @include grid-1;
  }

  &__left {
    position: relative;
  }

  &__right {
    position: relative;
  }

  &__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25rem;
  }

  &__img {
    max-width: 50rem;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__img--1 {
    top: -20rem;
    right: 40%;
  }

  &__img--2 {
    bottom: 13%;
    right: 20%;
  }

  &__img--3 {
    bottom: 0;
    right: 0;
  }
}

.page3 {
  border-top: 1px solid $primary-color;
  img {
    display: block;
    padding: 3rem 0;
  }
}

// ///////////////page 4//////////////

.page4 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  &__left {
  }

  &__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16.5rem;

    &-box {
      width: 80%;
    }
  }
}

// //////page 5 ///////////

.page5 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  &__left {
  }

  &__right {
    p {
      max-width: 80%;
    }
  }
}

.footer__about {
  @include reverse-color($primary-color, $text-color);
}
