@use '../abstracts/' as *;

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  z-index: -3;
  padding-top: 12rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, 1fr) 8rem;
  gap: 8rem;

  &--light {
    background: $primary-color;
    color: $secondary-color;
  }

  &--dark {
    background: $secondary-color;
    color: $primary-color;
  }

  &__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

    align-self: center;

    @include respond(bp-10) {
      grid-template-columns: 1fr;
      gap: 8rem;
    }

    @include respond(bp-5) {
      gap: 4rem;
    }
  }

  &__left {
    // Saddam in void
  }

  &__logo {
    width: 80%;
    position: relative;
    top: -5rem;
    left: -0.5rem;
    display: block;
    margin-bottom: -2rem;

    @include respond(bp-10) {
      width: auto;
      height: 20rem;
    }

    @include respond(bp-5) {
      height: 10rem;
      margin-bottom: -4rem;
    }
  }

  &__form {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid currentColor;
  }

  &__input {
    padding: 0.8rem 1.2rem;
    width: 100%;
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: inherit;
    color: currentColor;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: currentColor;
      font-size: inherit;
    }
  }

  &__btn {
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: none;
    margin-left: -4rem;
    cursor: pointer;
  }

  &__right {
    //  Saddam in void
  }

  &__right h4 {
    margin-bottom: 15rem;
    text-transform: lowercase;
    @include respond(bp-10) {
      width: 80%;
      margin-bottom: 8rem;
    }

    @include respond(bp-5) {
      width: auto;
      margin-bottom: 6rem;
    }
  }

  &__infos {
    display: flex;
    justify-content: flex-start;
    gap: 14rem;

    @include respond(bp-10) {
      gap: 6rem;
    }

    @include respond(bp-5) {
      gap: 4rem;
    }
  }

  &__infos ul {
    list-style: none;
  }

  &__infos ul li a {
    &,
    &:link,
    &:active {
      color: currentColor;
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 300;
      font-family: 'Roboto', sans-serif;
    }
  }

  &__infos ul li:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__infos h5 {
    margin-bottom: 3.5rem;
    font-weight: bold;
  }

  &__bottom {
    height: 8rem;

    &-container {
      height: 100%;
      display: flex;
      gap: 3rem;
      align-items: center;
      justify-content: space-between;
    }

    p {
      font-size: 1.2rem;
    }
  }

  &--dark &__bottom {
    background-color: #00000080;
  }

  &--light &__bottom {
    background-color: darkgray;
  }
}
