@use "../abstracts/" as *;

.last-element {
  margin-bottom: 100vh;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: -3;

  &--light {
    background: $primary-color;
    color: $text-color;
  }

  &--dark {
    background: $text-color;
    color: $primary-color;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 21rem 0;
  }

  &__left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }

  &__logo {
    height: 30rem;
    position: relative;
    top: -5rem;
    left: -1rem;
  }

  &__form {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid currentColor;
  }

  &__input {
    padding: 0.8rem 1.2rem;
    width: 100%;
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: inherit;
    color: currentColor;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: currentColor;
      font-size: inherit;
    }
  }

  &__btn {
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: none;
    margin-left: -4rem;
    cursor: pointer;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__right h4 {
    margin-bottom: 19rem;
    text-transform: lowercase;
  }

  &__infos {
    display: flex;
    justify-content: space-between;
    gap: 14rem;
  }

  &__infos ul li {
    list-style: none;
    font-size: 1.6rem;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
  }

  &__infos ul li:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__infos h5 {
    margin-bottom: 3.5rem;
    font-weight: bold;
  }
}
