@use "../abstracts/" as *;

.nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  height: 8rem;
  background-color: rgba($color-black, $alpha: 0.4);

  display: flex;
  align-items: center;

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-box {
    // SEDDEM in void
  }

  &__logo {
    height: 5rem;

    @include respond(bp-5) {
      height: 3rem;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;

    @include respond(bp-5) {
      display: none;
    }
  }

  &__item {
    // SEDDEM in void.
  }

  &__link {
    text-decoration: none;
    color: $primary-color;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__menu-btn {
    // SEDDEM in void
  }
}
