@use '../abstracts/' as *;

.nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 2rem 3rem;
  background-color: rgba($color: #000000, $alpha: 0.4);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
  }

  &__item {

  }

  &__link {
    text-decoration: none;
    color: $primary-color;
  }

  &__menu-btn {
  }
  
}
