@use "../abstracts/" as *;

.news1 {
  padding-top: 25rem;
  color: $primary-color;

  &__container {
    display: grid;
    grid-template-columns: 30% minmax(70%, 114rem);
    grid-template-rows: minmax(80vh, 125rem);
    column-gap: 3.5rem;
    row-gap: 6rem;
  }

  &__title-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    h1 {
      word-wrap: break-word;
      line-height: 0.8;
      margin-top: 15rem;
    }
    p {
      font-size: 1.4rem;
    }
  }

  &__img-container {
    display: flex;
    flex-direction: column;
  }

  &__img-box {
    overflow: hidden;
  }

  &__img {
    max-width: 100%;
  }

  &__img-caption-box {
    display: flex;
    padding: 0.5rem 0;

    div:first-child {
      margin-right: 40%;
    }
  }

  &__img-caption {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  &__info {
    grid-column: 2 / -1;
  }

  &__info-text {
    width: 70%;
    margin-bottom: 6rem;
  }
}
