@use "../abstracts/" as *;

.accordion {
  border-top: 4px solid $primary-color;
  border-bottom: 4px solid $primary-color;
  text-transform: uppercase;

  &__heading {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 3rem;
    align-items: center;
    padding: 1rem 0;
  }

  &__title {
  }

  &__text-box {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
  }

  &__text {
  }

  &__toggle span {
    font-size: 3rem;
    cursor: pointer;
  }

  .accordion__body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    p {
      padding: 2rem 0;
    }

    &--open {
      max-height: 200px;
    }
  }
}
