@use "../abstracts/" as *;

.accordion {
  border-top: 2px solid $primary-color;
  border-collapse: collapse;
  text-transform: uppercase;
  border-bottom: 2px solid $primary-color;
  font-size: 3.2rem;
  color: $primary-color;

  &:not(:last-child) {
    border-bottom: none;
  }

  &__heading {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    align-items: center;
    padding: 1rem;
  }

  &__title {
  }

  &__text {
  }

  &__toggle span {
    font-size: 3rem;
    cursor: pointer;
  }

  .accordion__body {
    height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    p {
      padding: 2rem;
      font-size: 1.8rem;
    }

    &--open {
      height: auto;
    }
  }
}
