@use "../abstracts/" as *;

.add {
  margin-bottom: 400px;

  &__track {
    overflow: hidden;
    padding: 3rem 0;
    border-top: 2px solid $secondary-color;
    border-bottom: 2px solid $secondary-color;
    white-space: nowrap;
  }

  &__items {
    display: inline-block;
    animation: 5s slide infinite linear;
    img {
      margin: 0 10rem;
      height: 5rem;
    }
  }
}

.pata {
  max-width: 200%;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
