@use "../abstracts/" as *;
.btn {
  padding: 1.5rem 3.5rem;
  background-color: transparent;
  text-transform: uppercase;
  border: 2px solid $primary-color;
  border-radius: 10rem;
  letter-spacing: 0.1rem;
  color: $primary-color;

  &__black {
    padding: 1.5rem 3.5rem;
    background-color: transparent;
    text-transform: uppercase;
    border: 2px solid $text-color;
    border-radius: 10rem;
    letter-spacing: 0.1rem;
    color: $text-color;
  }
}
