@use "../abstracts/" as *;
.btn {
  padding: 1.5rem 3.5rem;
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 10rem;
  letter-spacing: 0.1rem;
  color: $primary-color;
  position: relative;
  transition: 0.4s all ease-in-out;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  // justify-content: flex-start;

  &__light {
    color: $primary-color;
    border: 2px solid $primary-color;
  }

  &__dark {
    color: $secondary-color;
    border: 2px solid $secondary-color;
  }

  &__icon-box {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: -45px;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  &:hover {
    padding-right: 6rem;
    padding-left: 2.5rem;
  }

  &:hover::before {
    left: 0;
    top: 0;
    border-radius: 100px;
  }

  &:hover &__icon-box {
    right: 5px;
    background-color: #fff;
    border-radius: 100px;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    transition: all 0.6s ease-in-out;
    transform-origin: center;
    position: absolute;
    right: 100%;
  }

  &:hover &__icon {
    position: absolute;
    z-index: 4;
    opacity: 1;
    right: 10%;
  }
}

.white {
  background-color: $secondary-color !important;
}
