.card {
  &--regular {
    max-width: 51rem;
  }

  &--contact {
    height: 95rem;
  }

  &__holder {
    grid-column-start: 2;
    padding-right: 10rem;
  }

  &__img-box {
    width: 100%;
    height: 60rem;
    overflow: hidden;

    &--contact {
      height: 90%;
      margin-bottom: 2rem;
    }
  }

  &__img {
    max-width: 100%;
  }
}
