@use "../abstracts/" as *;

.divider {
  @include grid-1;

  &__about {
    color: $primary-color;
  }

  &__left {
    border-top: 2px solid $primary-color;
    padding-top: 1rem;

    img {
      width: 5rem;
    }
  }

  &__right {
    border-top: 2px solid $primary-color;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
  }

  &__dot {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: $primary-color;
  }
}

.divider-dark {
  @include grid-1;

  &__left {
    border-top: 2px solid $text-color;
    padding-top: 1rem;

    img {
      width: 5rem;
    }
  }

  &__right {
    border-top: 2px solid $text-color;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    color: $text-color;
  }

  &__dot {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: $text-color;
  }
}
