@use "../abstracts/" as *;

.divider {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;

  &--light {
    color: $primary-color;
  }

  &--dark {
    color: $secondary-color;
  }

  &__left {
    border-top: 2px solid currentColor;
    padding-top: 1rem;

    img {
      width: 5rem;
    }
  }

  &__right {
    border-top: 2px solid currentColor;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    text-transform: uppercase;
  }

  &__dot {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: $primary-color;
  }
}