@use "../abstracts/" as *;

.d-none {
  display: none;
}

html {
  font-size: 62.5%;

  @include respond(bp-15) {
    font-size: 50%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 172rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.bg-light {
  background-color: $color-white;
}

.bg-dark {
  background-color: $secondary-color;
}

.footer-space {
  margin-bottom: 100vh;
}
