@use "../abstracts/" as *;

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 172rem;
  margin: 0 auto;
}

.bg-light {
  background-color: $color-white;
}

.bg-dark {
  background-color: $color-secondary;
}

.footer-space {
  margin-bottom: 100vh;
}
