// google fonts
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
// font-family: 'Roboto', sans-serif;
//   font-family: "Space Grotesk", sans-serif;

body {
  font-family: "Space Grotesk", sans-serif;
}

.paragraph {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.paragraph-card {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}

.paragraph2 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.1;
}

.paragraph3 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}

.heading {
  font-family: "Roboto", sans-serif;
  font-size: 15rem;
  font-weight: 700;
  line-height: 0.8;
}

.sub-heading {
  font-family: "Roboto", sans-serif;
  font-size: 3.2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.sub-heading-card {
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.sub-heading-agency {
  font-family: "Roboto", sans-serif;
  font-size: 4.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.sub-heading-number {
  font-family: "Roboto", sans-serif;
  font-size: 9.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.para-agency {
  font-family: "Space Grotesk", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
