// Margin bottom
.mar-bot-smallest {
  margin-bottom: 1rem;
}

.mar-bot-small {
  margin-bottom: 2.5rem;
}

.mar-bot-medium {
  margin-bottom: 3rem;
}

.mar-bot-large {
  margin-bottom: 4rem;
}
.mar-bot-largest {
  margin-bottom: 5rem;
}
