@use "../abstracts/" as *;

// MARGIN BOTTOM
.mar-bot-smallest {
  margin-bottom: 1rem;
}

.mar-bot-small {
  margin-bottom: 2.5rem;
}

.mar-bot-medium {
  margin-bottom: 3rem;
}

.mar-bot-large {
  margin-bottom: 4rem;
}

.mar-bot-largest {
  margin-bottom: 8rem;
}

.mar-bot-ultra-largest {
  margin-bottom: 16rem;
}

.mar-bot-largest-1 {
  margin-bottom: 20rem;
}

.mar-bot-largest-2 {
  margin-bottom: 26rem;
}

// MARGIN TOP
.mar-top-small {
  margin-top: 4rem;
}

.mar-top-medium {
  margin-top: 8rem;
}

.mar-top-large {
  margin-top: 12rem;
}

.mar-top-largest1 {
  margin-top: 20rem;
}

// SECTION PADDING
.section-pad1 {
  padding-bottom: 14rem;
}

// DISPLAY
.d-none {
  display: none !important;
}
