@use "../abstracts/" as *;
// Margin bottom

.mar-bot-smallest {
  margin-bottom: 1rem;
}

.mar-bot-small {
  margin-bottom: 2.5rem;
}

.mar-bot-medium {
  margin-bottom: 3rem;
}

.mar-bot-large {
  margin-bottom: 4rem;
}

.mar-bot-largest {
  margin-bottom: 5rem;
}

.mar-bot-ultra-largest {
  margin-bottom: 7rem;
}

.mar-bot-largest-1 {
  margin-bottom: 8rem;
}

.mar-top-small {
  margin-top: 4rem;
}

.mar-top-medium {
  margin-top: 8rem;
}

.mar-top-large {
  margin-top: 12rem;
}

.mar-top-largest1 {
  margin-top: 20rem;
}

.section-pad1 {
  padding-bottom: 14rem;
}


.d-none {
  display: none !important;
}

.hidden {
  opacity: 0;
  transition: all 3s;
}

.show {
  opacity: 1;
}
