@use "../abstracts/" as *;

// //////////// ABOUT HEADER SECTION ////////////////
.about-header {
  color: $primary-color;
  &__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, min-content);
    gap: 3rem;
    padding-top: 16rem;
  }

  &__heading-1 {
    text-align: end;
    margin-bottom: -14rem;

    .line {
      overflow: hidden;
    }

    @include respond(bp-8) {
      margin-bottom: 4rem;
      grid-column: 1 / -1;
      text-align: start;
    }
  }

  &__heading-2 {
    grid-row: 2 / 3;
    grid-column: 2 / -1;
    margin-bottom: 6rem;

    .line {
      overflow: hidden;
    }

    @include respond(bp-8) {
      grid-column: 1 / -1;
    }
  }

  &__text {
    grid-row: 3 / -1;
    grid-column: 2 / -1;

    @include respond(bp-10) {
      grid-column: 1 / -1;
    }
  }
}

// ///////// ABOUT PHOTOS //////////
.photos {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  color: $primary-color;

  @include respond(bp-10) {
    grid-template-columns: min-content 2fr;
  }

  @include respond(bp-4) {
    grid-template-columns: 1fr;
  }

  &__left {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    gap: 3rem;

    @include respond(bp-10) {
      grid-template-columns: min-content;
      grid-template-rows: min-content 1fr;
    }

    @include respond(bp-4) {
      display: none;
    }
  }

  &__text {
    grid-column: 1/ 2;

    writing-mode: vertical-rl;
    text-transform: uppercase;
    transform: rotate(180deg);
    position: relative;
    left: -2rem;
    font-size: 3rem;
  }

  &__line {
    grid-column: 1 / 2;

    width: 2px;
    height: 100%;
    background-color: $primary-color;
  }

  &__info {
    grid-column: 2 / 3;
    align-self: end;
    width: 25rem;
    margin-left: -2rem;

    @include respond(bp-10) {
      display: none;
    }
  }

  &__right {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 130rem;

    @include respond(bp-6) {
      gap: 3rem;
    }
  }

  &__img-box {
    overflow: hidden;

    &--1 {
      grid-row: 1 / 9;
      grid-column: 1 / 9;
      // background-color: orangered;

      @include respond(bp-6) {
        grid-row: 1 / 5;
        grid-column: 1 / -1;
      }
    }

    &--2 {
      grid-row: 3 / 11;
      grid-column: 3 / 11;
      // background-color: yellowgreen;

      @include respond(bp-6) {
        grid-row: 5 / 9;
        grid-column: 1 / -1;
      }
    }

    &--3 {
      grid-row: 5 / 13;
      grid-column: 5 / 13;
      // background-color: powderblue;

      @include respond(bp-6) {
        grid-row: 9 / 13;
        grid-column: 1 / -1;
      }
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
    transition: all ease 1.1s;
    transform: scale(0.8);

    &:hover {
      z-index: 1;
      transform: scale(1);
    }
  }
}

// ////// ABOUT PAGE3 SECTION ///////////
.page3 {
  overflow: hidden;

  &__line {
    height: 3px;
    background-color: $primary-color;
  }

  img {
    display: block;
    padding: 3rem 0;
    max-width: 100%;
  }
}

// ////// ABOUT PAGE4 SECTION ///////////
.page4 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  color: $primary-color;

  @include respond(bp-8) {
    grid-template-columns: 1fr;
    gap: 6rem;
  }

  &__left {
    // SEDDEM IN VOID
  }

  &__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16.5rem;
    row-gap: 10rem;

    @include respond(bp-9) {
      gap: 8rem;
    }

    @include respond(bp-8) {
      gap: 4rem;
    }

    @include respond(bp-5) {
      gap: 3rem;
    }

    @include respond(bp-4) {
      grid-template-columns: 1fr;
      gap: 4rem;
    }

    &-box {
      width: 80%;
    }
  }

  &__sub-heading {
    // SEDDEM IN VOID
  }

  &__sub-heading-number {
    font-family: "Roboto", sans-serif;
    font-size: 9.6rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
  }
}

// ////// ABOUT PAGE5 SECTION ///////////

.page5 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  color: $primary-color;

  @include respond(bp-7) {
    grid-template-columns: 1fr;
    gap: 6rem;
  }

  &__left {
    // SEDDEM IN VOID
  }

  &__right {
    p {
      max-width: 80%;

      @include respond(bp-9) {
        max-width: 100%;
      }
    }
  }
}

// //////page 6 ///////////

.page6 {
  color: $primary-color;
}
