@use '../abstracts/' as *;

.contact {
  color: $secondary-color;
}

.contact-header {
  a {
    color: $secondary-color;
  }
}

.contact1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding-top: 12rem;

  @include respond(bp-8) {
    grid-template-columns: 1fr;
    gap: 6rem;
  }

  &__left {
    overflow: hidden;

    @include respond(bp-4) {
      display: none;
    }

    &-img-box {
      height: 120rem;
      position: relative;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 16rem;

    @include respond(bp-8) {
      padding-top: 0;
    }

    &-info-box {
      margin-bottom: 4rem;

      h4 {
        margin-bottom: 1rem;
      }
    }

    &-info-contact {
      text-decoration: none;
      color: inherit;
    }

    p {
      margin-top: auto;
      @include respond(bp-8) {
        display: none;
      }
    }
  }
}

// CONTACT CARDS
.c-cards {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content min-content;
  gap: 3rem;

  @include respond(bp-7) {
    grid-template-columns: min-content 1fr;
  }

  @include respond(bp-5) {
    grid-template-columns: 1fr;
  }

  &__text {
    grid-row: 1 / 2;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    transform: rotate(180deg);
    position: relative;
    left: -2rem;
    font-size: 3rem;

    @include respond(bp-5) {
      display: none;
    }
  }

  &__line {
    grid-row: 2 / -1;
    width: 2px;
    height: 100%;
    background-color: $secondary-color;

    @include respond(bp-5) {
      display: none;
    }
  }

  &__container {
    grid-row: 2 / -1;
  }
}
