// Home specific style will goes here.
@use "../abstracts/" as *;

// SECTION WORKS
.work {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40rem;
  color: $text-color;

  &__left {
    flex: 0 0 60%;
    span {
      font-weight: 700;
      font-family: "Roboto", sans-serif;
    }
  }

  &__right {
    flex: 0 0 40%;
    align-self: flex-start;
    img {
      display: block;
      margin-left: auto;
    }
  }
}

.h-cards {
  display: grid;
  grid-template-columns: min-content 2fr;
  grid-template-rows: min-content min-content;
  gap: 3rem;

  &__text {
    grid-row: 1 / 2;

    writing-mode: vertical-rl;
    text-transform: uppercase;
    transform: rotate(180deg);
    position: relative;
    left: -2rem;
    font-size: 3rem;
  }

  &__line {
    grid-row: 2 / -1;
    width: 2px;
    height: 100%;
    background-color: $color-secondary;
  }

  &__container {
    grid-row: 2 / -1;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }
}

// SECTION BANNERS
.banner {
  display: grid;
  grid-template-rows: 110rem;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  align-items: center;
  color: $text-color;

  &__left {
  }

  &__right {
    align-self: stretch;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
